<mat-nav-list >
    <h3 mat-subheader>{{currentList.title}}</h3>
    <app-task *ngFor="let task of tasks" [task]="task" (change)="changeList($event)" (toggle)="toggleTask($event)" (edit)="editTask($event)" (remove)="removeTask($event)"></app-task>
</mat-nav-list>