<mat-nav-list dir="rtl">
    <h3 mat-subheader>کار های انجام شده</h3>
    <app-task *ngFor="let task of tasks" [task]="task" (toggle)="toggleTask($event)" (edit)="editTask($event)" (remove)="removeTask($event)"></app-task>
</mat-nav-list>