
<mat-nav-list>
        <h3 mat-subheader>لیست ها</h3>
    <mat-list-item>

        <h2 matLine> تسک های کامل شده </h2>
        <button mat-icon-button routerLink="/donelist">
            <mat-icon>open_in_new</mat-icon>
        </button>

    </mat-list-item>
    <mat-divider></mat-divider>
    <app-list *ngFor="let list of lists" (view)="viewTasks($event)" [list]="list" (edit)="editList($event)" (remove)="removeList($event)"></app-list>
</mat-nav-list>