<mat-list-item>

  <h2 matLine>
    <mat-checkbox (change)="toggleTask()" [(ngModel)]="task.done">
      <span [class.taskDone]="task.done">
        {{task.title}}
      </span>
    </mat-checkbox>
  </h2>

  <button mat-icon-button [matMenuTriggerFor]="taskMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #taskMenu="matMenu">
    <button mat-menu-item (click)="editTask()">
      <mat-icon>edit</mat-icon>
      <span>ویرایش</span>
    </button>
    <button mat-menu-item (click)="removeTask()">
      <mat-icon>delete</mat-icon>

      <span>حذف</span>
    </button>
    <button mat-menu-item (click)="changeList()">
      <mat-icon>toc</mat-icon>

      <span>انتقال به کارهای روزانه</span>
    </button>

  </mat-menu>


</mat-list-item>
<mat-divider></mat-divider>