
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 400px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }

  
  .example-spacer {
    flex: 1 1 auto;
  }

  