<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>تپسل</span>
        <span class="example-spacer"></span>
       
      
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    
    <button mat-icon-button routerLink="/lists">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button (click)="newTaskDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="newListDialog()">
        <mat-icon>playlist_add</mat-icon>
      </button>
  </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet> 