<mat-list-item dir="rtl">

  <h2 matLine> {{list.title}} </h2>
  
 
  <button mat-icon-button [matMenuTriggerFor]="listMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #listMenu="matMenu">
        <button mat-menu-item (click)="editList()">
            <mat-icon >edit</mat-icon>
            <span>ویرایش</span>
          </button>
          <button mat-menu-item (click)="viewList()">
            <mat-icon>open_in_new</mat-icon>
            <span>مشاهده تسکها</span>
          </button>
          <button *ngIf="!list.isMain" mat-menu-item (click)="removeList()">
            <mat-icon  >delete</mat-icon>
            <span>حذف</span>
          </button>
  
    </mat-menu>
</mat-list-item>
<mat-divider></mat-divider>