<h1 mat-dialog-title dir='rtl'>افزودن تسک به {{data.list.title}}</h1>

<div mat-dialog-content dir='rtl'>
  <div class="form-container">

    <mat-form-field>
      <input matInput placeholder="عنوان تسک" [(ngModel)]="data.task.title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="توضیحات" [(ngModel)]="data.task.description">
        </textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.task.date" placeholder="انتخاب تاریخ">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions dir='rtl'>

  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>ذخیره</button>
  <button mat-button (click)="onNoClick()">فراموش کردم</button>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->